body {
    background: #EBDEF0 ;
}

.info-ul li {
    text-align: center;
    list-style: none;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}
button {
    
   
}

footer {

    text-align: center;
    background: #AF7AC5;
}
h1{
    text-align: center;
    background: #AF7AC5;
}