nav {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: black;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
}
nav label {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: block;
    font-weight: 500;
    cursor: pointer;
}
.button span {
float: right;
}